
.header-text{
    font-size: 40px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    font-family: Montserrat, Arial;
    margin: 10px;
    margin-top: 30px;
}

.sub-header{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    font-family: Montserrat, Arial;
    margin: 10px;
    margin-bottom: 30px;
    display: block;
    padding-left: 20%;
    padding-right: 20%;
}

.header-left{
    font-size: 40px;
    font-weight: 700;
    font-family: Montserrat, Arial;
    margin: 10px;
    margin-top: 30px;
    display: block;
}

.sub-header-left{
    font-size: 30px;
    font-weight: 500;
    font-family: Montserrat, Arial;
    margin: 10px;
    margin-bottom: 30px;
    display: block;
}

.text-left{
    font-size: 20px;
    font-weight: 200;
    font-family: Montserrat, Arial;
    padding-left: 20%;
    padding-right: 20%;
    
}


.center-text{
    font-size: 20px;
    font-weight: 200;
    font-family: Montserrat, Arial;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.sidebar{
    flex: 2;
}

.mainbar{
    flex: 5;
}

.center{
    text-align: center;
}

.ancnum {
    text-align: center;
    width: 50px;
}

.row{
    display: flex;
    justify-content: center;
}

.btndiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: rgb(79, 79, 79);
    color: rgb(255, 255, 255);
    border-radius: 16px;
    border: none;
    font-size: 40px;
    font-family: Montserrat, Arial;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s;
    
}

.btnDisabled{
    background-color: rgb(79, 79, 79);
    color: rgb(255, 255, 255);
    border-radius: 16px;
    border: none;
    font-size: 40px;
    font-family: Montserrat, Arial;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 35%;
}

.btn:hover{
    opacity: 0.7;
}
.btn:active{
    opacity: 0.3;
}


.slidecontainer {
    width: 100%; /* Width of the outside container */
}
  
/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    border-radius: 5px; 
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
}
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.ancline {
    display: flex;
    align-items: center;
}

.lineanchor-r{
    font-size: 30px;
    font-weight: 500;
    font-family: Montserrat, Arial;
    display: flex;
    justify-content: center;
    padding-left: 2%;
    padding-right: 20%;
}

.lineanchor-l{
    font-size: 30px;
    font-weight: 500;
    font-family: Montserrat, Arial;
    display: flex;
    justify-content: center;
    padding-left: 20%;
    padding-right: 2%;
}


.progbar{
    background-color: #d3d3d3;
    height: 2%;
    margin: none;
}

.barFill{
    background-color: #04AA6D;
    height: 100%;
    text-align: center;
    width: 5%;
    margin: none;
    padding: none;
    font-family: Montserrat, Arial;
    color:  white;
}

.bodyNoMargin {
    margin: 0;
    padding: none;
    border: none;
}

a {
    text-decoration: none;
}